<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  <div id="wrapper">
    {% include header.html %}
    <div class="container">

      {% if page.url == "/" %}
      <b style="font-size: 24px;">👻LUẬT❤️‍🔥</b><br>
      - Bài học số 1: Chết chóc<br>
      - Bài học số 2: Không tiết lộ danh tính, không nói về nhóm và không tấn công truyền thông<br>
      - Bài học số 3: Ở đây tao là luật <br>
      {% endif %}

      <section id="main_content" style="margin-top: 20px;">
        {{ content }}
      </section>
    </div>
  </div>

  {% include footer.html %}
</body>

</html>